# Visual Studio
.vs/
*.slnx

# Python cache
__pycache__/
*.py[codz]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Build / packaging
build/
dist/
*.egg-info/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints

# Large data (IMPORTANT for your project)
data/film/*.mp4
data/clips/*.mp4

# OS junk
.DS_Store
Thumbs.db